
 {# {{content.field_title.0}}
                        {{content.field_tagline.0}} #}
<section class="sevices z-sec service-style-5">
    <div class="container">
        <div class="tagline-title home5 mr-60">
            <span>{{content.field_tagline.0}}</span>
            <h2>{{content.field_title.0}}</h2>
        </div>
        <div class="service-3">
            <div class="carousel-content-wrapper">
                <div class="image-wrapper"  style="background-image:linear-gradient(rgba(27, 31, 41, 0.68), rgba(27, 31, 41, 0.68)) , url('{{file_url(content.field_image_2['#items'].entity.uri.value)}}');background-repeat:no-repeat;background-size:cover;">
                    <div class="re">
                    {{content.field_view.0}}
                    </div>
                </div>        
            </div>
        </div>   
    </div>
</section>


                
                