


<section class="carousels z-sec">
     <div class="container">
        <div class="section_title">
            <h2>{{content.field_title.0}}</h2>
        </div>    
        <div class="carousel12">
            <div class="owl-carousel carousels-client owl-theme">
                {% for key, value in content.field_images['#items'] %}
                <div class="item mb-4">
                 {% set count =  content.field_images['#items'] | length  %}
                    <div class="carousel-content-wrapper">
                        <div class="image-wrapper">
                            <img src="{{file_url(content.field_images['#items'][key].entity.uri.value)}}" alt="{{content.field_images['#items'][key].alt}}">
                        </div>
                           {% if key + 1 >= count %}
                        <div class="image-wrapper client-image">
                            <img src="{{file_url(content.field_images['#items'][key].entity.uri.value)}}" alt="{{content.field_images['#items'][key].alt}}">
                        </div>
                        {% else %}
                        <div class="image-wrapper client-image">
                            <img src="{{file_url(content.field_images['#items'][key + 1].entity.uri.value)}}" alt="{{content.field_images['#items'][key].alt}}">
                        </div>
                        {% endif %}
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div> 
    </div>
</section>
                