

<section class="contact-style-2 contact">
    <div class="contact2-wrapper ">
        <div class="container ">   
            <div class="z-sec">
                <div class="row">
                    <div class="col-lg-6 cont_form">
                        <div class="tagline-title af">
                            <span>{{content.field_tagline.0}}</span>
                            <h2>{{content.field_title.0}}</h2>
                        </div>
                        <div class="contents">
                            <p>{{content.field_description.0}}</p>
                        </div>
                        <div class="contact-info">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                                    <path data-name="Icon ionic-md-call" d="M146.166,108.667a97.807,97.807,0,0,1-29.582-4.582c-2.918-.834-6.25-.419-8.333,2.083L89.916,124.5a125.315,125.315,0,0,1-55-55L53.251,51.168a8.684,8.684,0,0,0,2.083-8.333,90.629,90.629,0,0,1-5-30A8.359,8.359,0,0,0,42,4.5H12.833A8.359,8.359,0,0,0,4.5,12.833,141.549,141.549,0,0,0,146.166,154.5a8.36,8.36,0,0,0,8.334-8.333V117A8.36,8.36,0,0,0,146.166,108.667Z" transform="translate(-4.5 -4.5)" fill="#1b1f29"/>
                                </svg>
                            </div>
                            <div>
                                <span>{{content.field_title_2.0}}</span>
                                <a href="tel:{{content.field_text_2.0}}"><h4>{{content.field_text_2.0}}</h4></a>
                            </div>
                        </div>
                        <div class="contact-info">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="204" height="150" viewBox="0 0 204 150">
                                    <path  d="M216.571,80H51.429C40.742,80,32,88.181,32,98.182V211.818c0,10,8.742,18.182,19.429,18.182H216.571C227.258,230,236,221.819,236,211.818V98.182C236,88.181,227.258,80,216.571,80Zm-2.428,38.637-80.143,50-80.143-50V100.455l80.143,50,80.143-50Z" transform="translate(-32 -80)" fill="#1b1f29"/>
                                </svg>
                            </div>
                            <div>
                                <span>{{content.field_title_3.0}}</span>
                                <a href="mailto:{{content.field_email.0}}"><h4>{{content.field_email.0}}</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 cont_form">
                        {{content.field_form.0}}
                    </div>
                </div>  
            </div>          
        </div>   
    </div>    
</section>