<div class="portfolio-detail-created mb-4 pt-3">
    <div class="display-portfolio">
        <span>{{fields.field_title_1.content}}</span> {# Title 1 #}
        <h4>{{fields.field_text_1.content}}</h4> {# Text 1 #}
    </div>
    <div class="display-portfolio">
        <span>{{fields.field_title_2.content}}</span> {# Title 2 #}
        <h4>{{fields.field_category.content}}</h4>
    </div>
    <div class="display-portfolio">
        <span>{{fields.field_title_3.content}}</span> {# Title 3 #}
        <h4>{{fields.field_text_3.content}}</h4> {# Text 3 (Date) #}
    </div>
    {% if fields.field_title_4.content %}
      <div class="display-portfolio">
          <span>{{fields.field_title_4.content}}</span> {# Title 3 #}
          <h4>{{fields.field_text_4.content}}</h4> {# Text 3 (Date) #}
      </div>
    {% endif %}
</div>
