
<section class="home-slide4" style="background-image:linear-gradient(rgba(27, 31, 41, 0.48), rgba(27, 31, 41, 0.48)) , url('{{file_url(content.field_image['#items'].entity.uri.value)}}');background-repeat:no-repeat;background-size:cover;">
    <div class="owl-carousel home-slider-4 owl-theme">
        {{content.field_widget}}
    </div> 
    <div class="container">
        <div class="slide-details">
            <div class="header-contacts">
                <div class="slider-mail">
                    <svg xmlns="http://www.w3.org/2000/svg" width="188" height="150" viewBox="0 0 188 150">
                        <path data-name="Path 40695" d="M269.723,211,329,257.114a9.88,9.88,0,0,0,11.594,0L399.878,211Zm144.614,7.5-73.769,57.386a9.926,9.926,0,0,1-11.533,0L255.265,218.5v105A7.381,7.381,0,0,0,262.511,331h144.58a7.363,7.363,0,0,0,7.246-7.506v-105Zm7.209-22.5a7.382,7.382,0,0,1,7.254,7.54V338.459A7.41,7.41,0,0,1,421.546,346H248.052a7.382,7.382,0,0,1-7.253-7.541V203.54a7.411,7.411,0,0,1,7.253-7.54Z" transform="translate(-240.799 -196)" fill="#1b1f29" fill-rule="evenodd"/>
                    </svg>
                    <a href="mailto:{{content.field_email.0}}">{{content.field_email.0}}</a>
                </div>
                <div class="silder-phone">
                    <svg xmlns="http://www.w3.org/2000/svg" width="149.999" height="150" viewBox="0 0 149.999 150">
                        <path id="noun-support-5012357" d="M121.071,93.928a58.928,58.928,0,1,1,117.856,0v6.031A21.439,21.439,0,0,1,255,120.713v21.428a21.449,21.449,0,0,1-25.053,21.123,40.836,40.836,0,0,1-38.161,21.681q-.529.052-1.071.053H180a10.714,10.714,0,1,1,0-21.428h10.714a10.716,10.716,0,0,1,10.672,9.756,30.085,30.085,0,0,0,18.767-14.476,21.39,21.39,0,0,1-8.01-16.709V120.713a21.439,21.439,0,0,1,16.071-20.754V93.928a48.214,48.214,0,1,0-96.428,0v6.031a21.439,21.439,0,0,1,16.071,20.754v21.428a21.428,21.428,0,0,1-42.857,0V120.713a21.439,21.439,0,0,1,16.071-20.754ZM126.428,110a10.714,10.714,0,0,0-10.714,10.714v21.428a10.714,10.714,0,1,0,21.428,0V120.713A10.714,10.714,0,0,0,126.428,110Zm96.428,10.714a10.714,10.714,0,1,1,21.428,0v21.428a10.714,10.714,0,1,1-21.428,0Z" transform="translate(-105 -35)" fill="#1b1f29" fill-rule="evenodd"/>
                    </svg>
                    <a href="tel:{{content.field_text.0}}">{{content.field_text.0}}</a>
                </div>
            </div>
            <div class="slider-social">
                {{content.field_widget_2}}
            </div>
        </div>
    </div>  
</section>