{# <div class="mt-2">
    {{fields.title.content}}
    {{fields.field_images.content}}
    {{fields.field_images_1.content}}
    {{fields.view_node.content}}
    {{fields.counter.content}}
    {{fields.body.content}}
    {{fields.svg_icon.content}}
    {{fields.nothing.content}}
</div> #}




<div class="col-md-6 col-lg-4">
    <div class="service-wrapper">
        <div class="service-icon">
            {{fields.field_svg_icon.content}}
        </div>
        <a href="{{fields.view_node.content}}">
            <h4>{{fields.title.content}}</h4>
        </a>
        <div class="service-content">
            <p>{{fields.body.content}}</p>
        </div>
    </div>
</div>
