{% set paragraph_parent = paragraph.getParentEntity() %}
{% set parent = paragraph_parent.type.value[0].target_id %}
{% if parent == "pricing_style_1" %}

    <div class="col-lg-4 col-md-6">
        <div class="pricing-wrapper">
            <div class="price-tag">
                <h4>{{content.field_title.0}}</h4>
                <p>{{content.field_tagline.0}}</p>
                <div class="price">
                    <h2 class="price"> {{content.field_text_format.0}}{{content.field_text.0}}</h2>
                    <span> / {{content.field_text_2.0}}</span>
                </div>
                {% if content.field_text_3.0 != ""%}
                <div class="recommend"><span>{{content.field_text_3.0}}</span></div>
                {% endif %}
            </div>
            <div class="get-started">
                <a href="{{content.field_link.0['#url']}}">{{content.field_link.0['#title']}}</a>
            </div>
            <ul class="list-unstyled">
            {{content.field_widget}}
            </ul>
        </div>
    </div>  
{% elseif parent == "pricing_style_2" %}
  <div class="col-lg-4 col-md-6">
    <div class="price-wrp">
        <div class="pricing-wrapper">
            <div class="price-tag">
                <h4>{{content.field_title.0}}</h4>
                <p>{{content.field_tagline.0}}</p>
                <div class="price">
                    <h2 class="price">{{content.field_text_format.0}}{{content.field_text.0}}</h2>
                    <span> {{content.field_text_2.0}}</span>
                </div>
            </div>
            <ul class="list-unstyled">
            {% for key,value in content.field_widget['#items'] %}
                {% if content.field_widget[key]['#paragraph'].field_check.value == true  %}
                    <li>
                        <p><del> {{content.field_widget[key]['#paragraph'].field_text.value}}</del></p>
                    </li>
                {% else %}
                    <li>
                        <p> {{content.field_widget[key]['#paragraph'].field_text.value}}</p>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
            <div class="buyNow buttons2">
                <a title="Buy-now" href="{{content.field_link.0['#url']}}" class="btn btn-dark btn-lg btn-custom1">{{content.field_link.0['#title']}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                        <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
        {% if content.field_text_3.0 != ""%}
        <div class="price-offer"><span>{{content.field_text_3.0}}</span></div>
        {% endif %}
    </div>
</div>
{# Code #}
{% elseif parent == "pricing_style_3" %}
{# Code #}
{% if 'On' in content.field_check.0  %}
<div class="col-lg-4 col-md-6 popular">
    <div class="pricing-wrapper">
        <div class="price-tag">
            <h4>{{content.field_title.0}}</h4>
            <div class="price">
                <h2 class="price">{{content.field_text_format.0}}{{content.field_text.0}}</h2>
                <span> / {{content.field_text_2.0}}</span>
            </div>
        </div>
        <ul class="list-unstyled">
        {% for key,value in content.field_widget['#items'] %}
            {%  if content.field_widget[key]['#paragraph'].field_check.value == true  %}
                <li>
                    <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                            <path  data-name="Path 40734" d="M83.883,32.726l18.843-18.843L158.883,70.04,215.04,13.883l18.843,18.843L177.726,88.883l56.157,56.157L215.04,163.883l-56.157-56.157-56.157,56.157L83.883,145.04,140.04,88.883Z" transform="translate(-83.883 -13.883)" fill="#1b1f29" fill-rule="evenodd"/>
                        </svg>
                    </div>
                    <p><del>{{content.field_widget[key]['#paragraph'].field_text.value}}</del></p>
                </li>
            {% else %}
                    <li>
                    <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="150" viewBox="0 0 200 150">
                            <path  data-name="Path 40733" d="M374.334,167.3c-35.362,36.588-70.75,73-106.152,109.59l-54.823-47.166-18.5,22.941,64.975,55.9,10.152,8.734,9.361-9.665c38.482-39.814,76.984-79.391,115.511-119.253L374.328,167.3Z" transform="translate(-194.86 -167.301)" fill="#1b1f29"/>
                        </svg>
                    </div>
                    <p>{{content.field_widget[key]['#paragraph'].field_text.value}}</p>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        <div class="buyNow buttons2">
            <a title="Buy-now" href="{{content.field_link.0['#url']}}" class="btn btn-dark btn-lg btn-custom1">{{content.field_link.0['#title']}}
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                    <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </div>
</div>  
{% else %}
<div class="col-lg-4 col-md-6">
    <div class="pricing-wrapper">
        <div class="price-tag">
            <h4>{{content.field_title.0}}</h4>
            <div class="price">
                <h2 class="price">{{content.field_text_format.0}}{{content.field_text.0}}</h2>
                <span> / {{content.field_text_2.0}}</span>
            </div>
        </div>
        <ul class="list-unstyled">
        {% for key,value in content.field_widget['#items'] %}
            {%   if content.field_widget[key]['#paragraph'].field_check.value == true  %}
                <li>
                    <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                            <path  data-name="Path 40734" d="M83.883,32.726l18.843-18.843L158.883,70.04,215.04,13.883l18.843,18.843L177.726,88.883l56.157,56.157L215.04,163.883l-56.157-56.157-56.157,56.157L83.883,145.04,140.04,88.883Z" transform="translate(-83.883 -13.883)" fill="#1b1f29" fill-rule="evenodd"/>
                        </svg>
                    </div>
                    <p><del>{{content.field_widget[key]['#paragraph'].field_text.value}}</del></p>
                </li>
            {% else %}
                    <li>
                    <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="150" viewBox="0 0 200 150">
                            <path  data-name="Path 40733" d="M374.334,167.3c-35.362,36.588-70.75,73-106.152,109.59l-54.823-47.166-18.5,22.941,64.975,55.9,10.152,8.734,9.361-9.665c38.482-39.814,76.984-79.391,115.511-119.253L374.328,167.3Z" transform="translate(-194.86 -167.301)" fill="#1b1f29"/>
                        </svg>
                    </div>
                    <p>{{content.field_widget[key]['#paragraph'].field_text.value}}</p>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        <div class="buyNow buttons2">
            <a title="Buy-now" href="{{content.field_link.0['#url']}}" class="btn btn-dark btn-lg btn-custom1">{{content.field_link.0['#title']}}
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                    <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </div>
</div>        
{% endif %}


{% elseif parent == "pricing_style_4" %}
    <div class="col-lg-4 col-md-6">
        <div class="price-wrp">
            <div class="pricing-wrapper">
                <div class="price-tag">
                    <h4>{{content.field_title.0}}</h4>
                    <p>{{content.field_tagline.0}}</p>
                </div>    
                <div class="price">
                    <h2> {{content.field_text_format.0}}{{content.field_text.0}}</h2>
                    <span>{{content.field_text_2.0}}</span>
                </div>
                <ul class="list-unstyled">
                    {% for key,value in content.field_widget['#items'] %}
                        {%   if content.field_widget[key]['#paragraph'].field_check.value == true  %}
                            <li>
                                <div class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                                        <path  data-name="Path 40734" d="M83.883,32.726l18.843-18.843L158.883,70.04,215.04,13.883l18.843,18.843L177.726,88.883l56.157,56.157L215.04,163.883l-56.157-56.157-56.157,56.157L83.883,145.04,140.04,88.883Z" transform="translate(-83.883 -13.883)" fill="#1b1f29" fill-rule="evenodd"/>
                                    </svg>
                                </div>
                                <p><del>{{content.field_widget[key]['#paragraph'].field_text.value}}</del></p>
                            </li>
                        {% else %}
                                <li>
                                <div class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="150" viewBox="0 0 200 150">
                                        <path  data-name="Path 40733" d="M374.334,167.3c-35.362,36.588-70.75,73-106.152,109.59l-54.823-47.166-18.5,22.941,64.975,55.9,10.152,8.734,9.361-9.665c38.482-39.814,76.984-79.391,115.511-119.253L374.328,167.3Z" transform="translate(-194.86 -167.301)" fill="#1b1f29"/>
                                    </svg>
                                </div>
                                <p>{{content.field_widget[key]['#paragraph'].field_text.value}}</p>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="buyNow buttons2">
                    <a title="Buy-now" href="{{content.field_link.0['#url']}}" class="btn btn-dark btn-lg btn-custom1">{{content.field_link.0['#title']}} 
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                            <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>    
{% elseif parent == "pricing_style_5" %}
    {% if "On" in content.field_check[0] %}
        <div class="col-lg-4 col-md-6">
            <div class="price-featured">
                <div class="pricing-wrapper">
                    <div class="price-tag">
                        <h4>{{content.field_title.0}}</h4>
                        <div class="price">
                            <h2 class="price">{{content.field_text_format.0}}{{content.field_text.0}}</h2>
                            <span> / {{content.field_text_2.0}}</span>
                        </div>
                        {% if content.field_text_3.0 != "" %}<div class="recommend"><span>{{content.field_text_3.0}}</span></div>{% endif %}
                    </div>
                    <ul class="list-unstyled">
                        {% for key,value in content.field_widget['#items'] %}
                            {%   if content.field_widget[key]['#paragraph'].field_check.value == true  %}
                                <li>
                                    <p><del>{{content.field_widget[key]['#paragraph'].field_text.value}}</del></p>
                                </li>
                            {% else %}
                                <li>
                                    <p>{{content.field_widget[key]['#paragraph'].field_text.value}}</p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="buyNow buttons2">
                        <a title="Buy-now" href="{{content.field_link.0['#url']}}" class="btn btn-dark btn-lg btn-custom1">{{content.field_link.0['#title']}} 
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                                <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-lg-4 col-md-6">
            <div class="pricing-wrapper">
                <div class="price-tag">
                    <h4>{{content.field_title.0}}</h4>
                    <div class="price">
                        <h2 class="price">{{content.field_text_format.0}}{{content.field_text.0}}</h2>
                        <span> / {{content.field_text_2.0}}</span>
                    </div>
                </div>
                <ul class="list-unstyled">
                    {% for key,value in content.field_widget['#items'] %}
                        {%   if content.field_widget[key]['#paragraph'].field_check.value == true  %}
                            <li>
                                <p><del>{{content.field_widget[key]['#paragraph'].field_text.value}}</del></p>
                            </li>
                            {% else %}
                            <li>
                                <p>{{content.field_widget[key]['#paragraph'].field_text.value}}</p>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="buyNow buttons2">
                    <a title="Buy-now" href="{{content.field_link.0['#url']}}" class="btn btn-dark btn-lg btn-custom1">{{content.field_link.0['#title']}} 
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                            <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if "On" in content.field_check[0] %}
{% endif %}

{#  #}
{# {{content.field_title.0}}
{{content.field_tagline.0}}
{{content.field_text_format.0}} {# Currency #}
{# {{content.field_text.0}} {# Price #}
{# {{content.field_text_2.0}} {# Valid period #}
{# {{content.field_text_3.0}}{# Highlighted Plan Text #}
{# {{content.field_link.0['#url']}}
{{content.field_link.0['#title']}}
{% for key,value in content.field_widget['#items'] %}
{{content.field_widget[key]}}
{# {% endfor %} #} 
