
    <div class="pricing-feature-1">

        {% if 'On' in content.field_check[0] %}
                    <li>
                        <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="150" viewBox="0 0 200 150">
                                <path  data-name="Path 40733" d="M374.334,167.3c-35.362,36.588-70.75,73-106.152,109.59l-54.823-47.166-18.5,22.941,64.975,55.9,10.152,8.734,9.361-9.665c38.482-39.814,76.984-79.391,115.511-119.253L374.328,167.3Z" transform="translate(-194.86 -167.301)" fill="#1b1f29"/>
                            </svg>
                        </div>
                        <p><del>{{content.field_text.0}}</del></p>
                    </li>
        {% else %}
                        <li>
                        <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="150" viewBox="0 0 200 150">
                                <path  data-name="Path 40733" d="M374.334,167.3c-35.362,36.588-70.75,73-106.152,109.59l-54.823-47.166-18.5,22.941,64.975,55.9,10.152,8.734,9.361-9.665c38.482-39.814,76.984-79.391,115.511-119.253L374.328,167.3Z" transform="translate(-194.86 -167.301)" fill="#1b1f29"/>
                            </svg>
                        </div>
                        <p>{{content.field_text.0}}</p>
                    </li>
        {% endif %}
    </div>


        {# <div class="pricing-feature-2 d-none">
        {% if 'On' in content.field_check[0] %}
        {% else %}
        {% endif %}
        {{content.field_text.0}}
        </div>
        <div class="pricing-feature-3 d-none">
        {% if 'On' in content.field_check[0] %}
        {% else %}
        {% endif %}
        {{content.field_text.0}}
        </div>
        <div class="pricing-feature-4 d-none">
        {% if 'On' in content.field_check[0] %}
        {% else %}
        {% endif %}
        {{content.field_text.0}}
        </div>
        <div class="pricing-feature-5 d-none">
        {% if 'On' in content.field_check[0] %}
        {% else %}
        {% endif %}
        {{content.field_text.0}}
        </div>  #}