<footer class="footer-block" style="background-image: url('{{footer_bg_image_url}}');background-repeat: no-repeat;background-size: cover; ">
    <div class="container">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col-md-6">
                    {{page.footer_first}}
                </div>    
                <div class="col-md-3 col-sm-6 whatdo">
                    {{page.footer_second}}
                </div>    
                <div class="col-md-3 col-sm-6 quick">
                    {{page.footer_third}}
                </div>    
            </div>    
            <hr>
            <div class="row">
                <div class="col-md-6">
                    {{page.footer_fourth}}
                </div>
                <div class="col-md-6 copy-rights">
                    {{copyrights|raw}}
                </div>
            </div>    
        </div>
    </div>
</footer>
