
<section class="careers-details get-quate">	
	<div class="container">
		<form{{ attributes }}>
			<div class="row">
				<div class="col-md-6">
					{{ element.elements.name }}
				</div>		
				<div class="col-md-6">
					{{ element.elements.email }}
				</div>
				<div class="col-md-6">
					{{ element.elements.phone }}
				</div>
				<div class="col-md-6">
					<div class="input-wrapper">
						{{ element.elements.country }}
						<svg xmlns="http://www.w3.org/2000/svg" width="150" height="88" viewBox="0 0 150 88">
							<path  data-name="Path 40742" d="M0,13.409,13.422,0,88,75,13.347,150,0,136.591,61.306,75Z" transform="translate(150) rotate(90)" fill="#1b1f29"/>
						</svg>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-wrapper">
						{{ element.elements.project }}
						<svg xmlns="http://www.w3.org/2000/svg" width="150" height="88" viewBox="0 0 150 88">
							<path  data-name="Path 40742" d="M0,13.409,13.422,0,88,75,13.347,150,0,136.591,61.306,75Z" transform="translate(150) rotate(90)" fill="#1b1f29"/>
						</svg>
					</div>
				</div>
				<div class="col-md-6">
					{{ element.elements.budget }}
				</div>
				<div class="col-md-12">
					{{ element.elements.company }}
				</div>
				<div class="col-md-12">
					{{ element.elements.skills }}
				</div>
				<div class="col-md-12">
					{{ element.elements.message }}
				</div>
			</div>		
			<div class="quate-btn-rect">
				{{ element.elements.actions }}
			</div>
			{{ element.form_build_id }}
			{{ element.form_token }}
			{{ element.form_id }}
		</form>
	</div>		
</section>