<section class="forms careers-apply-form">
    <div class="container">
        <div class="form-block buttons-block">
            <div class="form">	
				<form{{ attributes.addClass('apply-form') }}>
					{{ element.elements.name }}
                    {{ element.elements.email }}
					{{ element.elements.phone }}
					
                    <div class="input-wrapper">
                        {{ element.elements.job }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="88" viewBox="0 0 150 88">
							<path  data-name="Path 40742" d="M0,13.409,13.422,0,88,75,13.347,150,0,136.591,61.306,75Z" transform="translate(150) rotate(90)" fill="#1b1f29"/>
						</svg>
					</div>
					<div class="input-group file-upload">
						{{ element.elements.resume }}
					</div>
					<div class="quate-btn-rect">
						{{ element.elements.actions }}
					</div>
					{{ element.form_build_id }}
					{{ element.form_token }}
					{{ element.form_id }}
				</form>
			</div>
		</div>
    </div>
</section>




{# <section class="forms elements">
    <div class="container">
        <div class="form-block buttons-block">
            <div class="form">
                <form>
                    <div class="row">
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Your Name"></div>
                        <div class="col-md-6"><input type="email" class="form-control"  placeholder="Email"></div>
                        <div class="col-md-6"><input type="text" class="form-control"  placeholder="Phone Number"></div>
                        <div class="col-md-6">
                            <div class="input-wrapper">
                                <select name="country" id="county" class="form-select">
                                    <option disabled selected value>Country</option>
                                    <option value="volvo">USA</option>
                                    <option value="saab">UK</option>
                                    <option value="opel">Russia</option>
                                    <option value="audi">England</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="88" viewBox="0 0 150 88">
                                    <path data-name="Path 40742" d="M0,13.409,13.422,0,88,75,13.347,150,0,136.591,61.306,75Z" transform="translate(150) rotate(90)" fill="#1b1f29"/>
                                </svg>
                            </div>    
                        </div>
                        <div class="col-md-12"><textarea class="form-control"  rows="7" placeholder="Message"></textarea></div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-custom btn-lg">Send Message
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                            <path data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                        </svg> 
                    </button>
                </form>
            </div>
         </div>
      </div>
</section> #}
                    