
<div class="content">
    <div class="main-content">
        <a class="icon" data-bs-toggle="collapse" href="#accordion3-{{paragraph.id()}}" role="button" aria-expanded="false" aria-controls="accordion3-{{paragraph.id()}}">
            <div class="svg-wrapper">
                <i>
                <svg class="svg-minus  d-none" xmlns="http://www.w3.org/2000/svg" width="150" height="87.5" viewBox="0 0 150 87.5">
                    <path  data-name="Path 39777" d="M87.5,15.468,30.715,74.821l56.428,60.43L72.5,150,0,75.539,71.786,0Z" transform="translate(150) rotate(90)" fill="#1f1f1f" fill-rule="evenodd"/>
                </svg>
                <svg class="svg-plus" xmlns="http://www.w3.org/2000/svg" width="150" height="87.5" viewBox="0 0 150 87.5" class="__web-inspector-hide-shortcut__">
                    <path data-name="Path 39776" d="M87.5,134.532,30.715,75.179l56.428-60.43L72.5,0,0,74.461,71.786,150Z" transform="translate(0 87.5) rotate(-90)" fill="#1f1f1f" fill-rule="evenodd"/>
                </svg>
                </i>
            </div>
            <h3>{{content.field_title.0}} {{content.field_vacancy.0}}</h3>
        </a>
    </div>
    <div class="sub-content collapse" id="accordion3-{{paragraph.id()}}">
        <div class="card card-body">
            <h4>{{content.field_title_2.0}}</h4>
            <div class="content-descriptions">
                {{content.field_formatted_description.0}} 
            </div>
            <div class="job-details">
                {{content.field_widget}} 
            </div>
            <h4>{{content.field_title_3.0}}</h4>
            <div class="content-descriptions">
                {{content.field_formatted_description_2.0}} 
            </div>
            <div class="quate-btn-rect home1-btn">
                <button type="button" title="{{content.field_text.0}}"  class="btn btn-primary btn-lg btn-custom1" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{paragraph.id()}}">{{content.field_text.0}}
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                    <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                </svg>
                </button>
            </div>
             <!-- Modal -->
            <div class="modal fade" id="staticBackdrop-{{paragraph.id()}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-{{paragraph.id()}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="staticBackdropLabel-{{paragraph.id()}}">{{content.field_title_4.0}}</h2>
                            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="model_close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                                    <path id="Path_40734" data-name="Path 40734" d="M83.883,32.726l18.843-18.843L158.883,70.04,215.04,13.883l18.843,18.843L177.726,88.883l56.157,56.157L215.04,163.883l-56.157-56.157-56.157,56.157L83.883,145.04,140.04,88.883Z" transform="translate(-83.883 -13.883)" fill="#1b1f29" fill-rule="evenodd"/>
                                </svg>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <div class="form1">
                                {{content.field_form.0}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

