{# {{content.field_title.0}}
{{content.field_description.0}}
{{content.field_widget}} #}
<section class="accordion-style career-list">
    <div class="container">
        <div class="accordion-block">
            <div id="accordion3" class="accordion3">
                <div class="tit-des">
                    <h2>{{content.field_title.0}}</h2>
                    <div class="content-descriptions">
                        <p>{{content.field_description.0}}</p>
                    </div>
                </div>
                {{content.field_widget}} 
            </div>
        </div>
    </div>
</section>


