{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% if (paragraph.field_link_1.value.0.uri) %}
  {% set uri1 = paragraph.field_link_1.value.0.uri %}
{% endif %}
{% if (paragraph.field_link_2.value.0.uri) %}
  {% set uri2 = paragraph.field_link_2.value.0.uri %}
{% endif %}
{% if (paragraph.field_link_3.value.0.uri) %}
  {% set uri3 = paragraph.field_link_3.value.0.uri %}
{% endif %}

{# We need the ugly if-hack to prevent redundant output for empty paragraphs #}
<div class="paragraphs--vertical">
  <div class="paragraphs--vertical-item no-bottom-margin">
    {% if uri1 %}
      {{ link(content.field_image_1, uri1) }}
    {% else %}
      {{ content.field_image_1 }}
    {% endif %}
    <div class="paragraphs--title">
      <div class="paragraphs--title-item">
        {% if uri1 %}
          {{ link(content.field_title_1, uri1) }}
        {% else %}
          {{ content.field_title_1 }}
        {% endif %}
      </div>
    </div>
    <div class="paragraphs--text">{{ content.field_text_1 }}</div>
  </div>
  <div class="paragraphs--vertical-item no-bottom-margin">
    {% if uri2 %}
      {{ link(content.field_image_2, uri2) }}
    {% else %}
      {{ content.field_image_2 }}
    {% endif %}
    <div class="paragraphs--title">
      <div class="paragraphs--title-item">
        {% if uri2 %}
          {{ link(content.field_title_2, uri2) }}
        {% else %}
          {{ content.field_title_2 }}
        {% endif %}
      </div>
    </div>
    <div class="paragraphs--text">{{ content.field_text_2 }}</div>
  </div>
  <div class="paragraphs--vertical-item no-bottom-margin">
    {% if uri3 %}
      {{ link(content.field_image_3, uri3) }}
    {% else %}
      {{ content.field_image_3 }}
    {% endif %}
    <div class="paragraphs--title">
      <div class="paragraphs--title-item">
        {% if uri3 %}
          {{ link(content.field_title_3, uri3) }}
        {% else %}
          {{ content.field_title_3 }}
        {% endif %}
      </div>
    </div>
    <div class="paragraphs--text">{{ content.field_text_3 }}</div>
  </div>
</div>
