

 
{# {{fields.field_image_1.content}} #}




            
                <div class="col-lg-4 col-md-6">
                    <div class="team-wrapper">
                        <div class="image-wrapper">
                            <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
                        </div>
                        <div class="team-items">
                            <a href="{{fields.view_node.content}} " title="team-member">
                                <h3>{{fields.title.content}}</h3>
                            </a>
                            <span>{{fields.field_designation.content}}</span>
                            {{fields.field_section.content}}
                        </div>
                    </div>    
                </div>
                