
<div class="item mb-4">
    <div class="carousel-content-wrapper">
        <div class="image-wrapper">
            <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        </div>
        <div class="client-social-media">
            <div class="testi-designation">
                <a href="{{fields.view_node.content}}" title="team">
                    <h3>{{fields.title.content}}</h3>
                </a>
                <span>{{fields.field_designation.content}} </span>
            </div>
            {{fields.field_section.content}}
        </div>
    </div>
</div>