{# <div class="mt-2">
    {{fields.title.content}}
    
    {{fields.field_images_1.content}}
    {{fields.view_node.content}}
    {{fields.counter.content}}
    {{fields.body.content}}
    {{fields.svg_icon.content}}
    {{fields.nothing.content}}
</div>
 #}


<div class="col-md-6 col-lg-4"> 
    <div class="service-wrapper">
        <div class="service-icon">
            {{fields.field_svg_icon.content}}
        </div>
        <a href="{{fields.view_node.content}}">
            <h4>{{fields.title.content}}</h4>
        </a>
        <div class="service-content">
            <p>{{fields.body.content}}</p>
        </div>
        <div class="read">
            <a href="{{fields.view_node.content}}" title="blog-details">{{fields.nothing.content}}
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44"><path data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path></svg>
            </a>    
        </div>
    </div> 
</div>   
           
               