                      
                {% if  fields.counter.content == "1" %}
                <div class="tab-pane fade active show" id="nav-tab{{fields.counter.content}}" role="tabpanel" aria-labelledby="nav-tab{{fields.counter.content}}-tab">
                    <h3>{{fields.title.content}}</h3>
                    <div class="retirement-content">
                        {{fields.body.content}}
                    </div>
                    <div class="read">
                        <a href="{{fields.view_node.content}}" title="blog-details">{{fields.nothing.content}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                                <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"/>
                            </svg>
                        </a>    
                    </div>
                </div>
                {% else %} 
                <div class="tab-pane fade" id="nav-tab{{fields.counter.content}}" role="tabpanel" aria-labelledby="nav-tab{{fields.counter.content}}-tab">
                    <h3>{{fields.title.content}}</h3>
                    <div class="retirement-content">
                        {{fields.body.content}}
                    </div>
                    <div class="read">
                        <a href="{{fields.view_node.content}}" title="blog-details">{{fields.nothing.content}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                                <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"/>
                            </svg>
                        </a> 
                    </div>
                </div>   
                {% endif %}  
                 
            