{% if content.field_link.0 != ""%}
<section class="about about-style-3 z-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-wrapper">
                    <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                    <div class="overlay-border">
                    </div>
                    <div class="tag-overlay">
                        <div class="svg-wrapper">
                            {{content.field_svg_icon.0}}
                        </div>
                        <span>{{content.field_text.0}}</span>
                        <h6>{{content.field_text_2.0}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-content">
                    <h2>{{content.field_title.0}}</h2>
                    <div class="content-descriptions">
                        <p>{{content.field_formatted_description.0}}</p>
                    </div>
                    <div class="read">
                        <a href="{{content.field_link.0['#url']}}" title="blog-details">{{content.field_link.0['#title']}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                                <path data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                            </svg>
                        </a>    
                    </div>
                    <div class="quote">
                        <p>{{content.field_person_message.0}}</p>
                    </div>
                    <div class="testi-details">
                        <img src="{{file_url(content.field_image_2['#items'].entity.uri.value)}}" alt="{{content.field_image_2['#items'].alt}}">
                            <div class="testi-designation">
                                <h6>{{content.field_person_name.0}}</h6>
                                <span>{{content.field_designation.0}}</span>
                            </div>    
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="about about-style-3 z-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-wrapper">
                    <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                    <div class="overlay-border">
                    </div>
                    <div class="tag-overlay">
                        <div class="svg-wrapper">
                            {{content.field_svg_icon.0}}
                        </div>
                        <span>{{content.field_text.0}}</span>
                        <h6>{{content.field_text_2.0}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-content pt-10">
                    <h2>{{content.field_title.0}}</h2>
                    <div class="content-descriptions">
                        {{content.field_formatted_description.0}}
                    </div>
                    <div class="quote">
                        <p>{{content.field_person_message.0}}</p>
                    </div>
                    <div class="testi-details">
                        <img src="{{file_url(content.field_image_2['#items'].entity.uri.value)}}" alt="{{content.field_image_2['#items'].alt}}">
                            <div class="testi-designation">
                                <h6>{{content.field_person_name.0}}</h6>
                                <span>{{content.field_designation.0}}</span>
                            </div>    
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
{% endif %}