
<section class="about-us-style-1 about z-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                {{content.field_widget}}
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="about-1-wrapp">
                    <div class="about1-detail">  
                        <div class="tag-title">
                            <span>{{content.field_tagline.0}}</span>
                            <h2>{{content.field_title.0}}</h2>
                        </div>
                        <div class="home-description">
                            <p>{{content.field_description.0}}</p>
                        </div>  
                        <div class="quate-btn-rect">
                            <a href="{{content.field_link.0['#url']}}" class="btn-lg">
                                {{content.field_link.0['#title']}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                                    <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>  
                    </div>
                    <div class="image-wrapper">
                        <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                    </div>    
                </div>    
            </div>
        </div>    
    </div>
</section>