
<section class="portfolio portfolio-grid-3 portfolio-style-2">
    <div class="container">
        <div class="tag-title-btn">
            <div class="tagline-title af">
                <span>{{content.field_tagline.0}}</span>
                <h2>{{content.field_title.0}}</h2>
            </div>
            <div class="quate-btn-rect home1-btn">
                <a href="{{content.field_link.0['#url']}}" title="services" class="btn-lg">
                    {{content.field_link.0['#title']}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                        <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                    </svg>
                </a>
            </div> 
        </div>        
        {{content.field_view.0}}
    </div>
</section>        