{# <div class="sdddddddddddddd">{{fields.title.content}}</div>
{{fields.field_image.content}}
{{fields.field_image_1.content}}
{{fields.field_category.content}}
{{fields.nothing.content}}
{{fields.view_node.content}}
{{fields.created.content}}
{{fields.created_1.content}}
{{fields.created_2.content}}
{{fields.created_3.content}}
{{fields.created_4.content}}
{{fields.uid.content}}
{{fields.counter.content}}
{{fields.comment_count.content}}
{{fields.totalcount.content}} #}

<div class="blog-sidebar">
    <div class="image-wrapper">
        <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
    </div>
    <div class="blog-sidebar-title">
        <a href="{{fields.view_node.content}}"><h6 class="blog-title">{{fields.title.content}}</h6></a>
        <div class="cate-uid">
            <span class="blog-cate">{{fields.field_category.content}}</span>
            <p>{{fields.created_1.content}}</p>
        </div>
    </div>    
</div>