<div class="col-md-6 col-lg-4"> 
    <div class="img-wrapper">
        <a href="{{fields.view_node.content}}">
            <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        </a>
        <div class="blog-3-item">
            <div class="designation">
                <span>{{fields.field_category.content}}</span>
            </div>
            <a href="{{fields.view_node.content}}">
                <h5 class="blog-title">{{fields.title.content}}</h5>
            </a>
            
            <a class="continue-read" href="{{fields.view_node.content}}" title="blog-details">{{fields.nothing.content}}</a>
        </div>
    </div> 
</div>   
