
{# 
{{fields.field_images_1.content}}



{{fields.created.content}}
{{fields.body.content}}
{{fields.created_1.content}}
{{fields.created_2.content}}
{{fields.uid.content}}
{{fields.counter.content}}
{{fields.comment_count.content}}
{{fields.totalcount.content}} #}


<div class="col-md-6">
    <div class="blog-items">
        <div class="img-wrapper">
            <a href="{{fields.view_node.content}}">
                <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
            </a>
            <div class="blog-date-circle">
                <h4>{{fields.created_2.content}}</h4>
                <h4>{{fields.created_3.content}}</h4>
            </div>
        </div>
        <div class="blog-wrapper">
            <div class="designation">
                <h5>{{fields.field_category.content}}</h5>
            </div>
            <a href="{{fields.view_node.content}}" title="blog-details"> <h4 class="blog-title">{{fields.title.content}}</h4></a>
            <h5 class="cmt"> {{fields.comment_count.content}} Comments</h5>
        </div>  
        <div class="read">
            <a href="{{fields.view_node.content}}" title="blog-details">{{fields.nothing.content}}
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                    <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"/>
                </svg>
            </a>    
        </div>
    </div>      
</div>