<div class="blog-sidebar">
    <div class="image-wrapper">
        <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
    </div>
    <div class="blog-sidebar-title">
        <a href="{{fields.view_node.content}}"><h6 class="blog-title">{{fields.title.content}}</h6></a>
        <div class="cate-uid">
            <span class="blog-cate">{{fields.field_category.content}}</span>
            <p>{{fields.created_1.content}}</p>
        </div>
    </div>    
</div>