

<div class="col-md-6 col-lg-4">
    <div class="blog-items">
        <div class="img-wrapper">
            <a href="{{fields.view_node.content}}"> <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}"></a>   
        </div>
        <div class="blog-wrapper">
            <div class="blog-uid">
                <span>{{fields.created_4.content}}</span>
            </div>
            <a href="{{fields.view_node.content}}"> <h5 class="blog-title">{{fields.title.content}}</h5></a>
            <div class="designation">
                <h5>{{fields.field_category.content}}</h5>
            </div>
            <div class="read">
                <a href="{{fields.view_node.content}}" title="blog-details">{{fields.nothing.content}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                        <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"/>
                    </svg>
                </a>    
            </div>
        </div>    
    </div>      
</div>