
    <section class="cta video-style-2">
        <div class="cta-full">
            <div class="container">
                <div class="cta-wrapp">
                    <h2>{{content.field_title.0}}{{content.field_text.0}}</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="video1 video-popup" style="background-image: url({{file_url(content.field_image['#items'].entity.uri.value)}}
                );background-position: center;background-repeat: no-repeat;background-size: cover;">
                <div class="video-block">
                    <a class="svg-wrapper" data-fancybox href="{{content.field_link_2.0['#url']}}" title="{{content.field_link_2.0['#title']}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                            <path id="Union_54" data-name="Union 54" d="M0,75a75,75,0,1,1,75,75A74.953,74.953,0,0,1,0,75Zm8.333,0A66.667,66.667,0,1,0,75,8.333,66.863,66.863,0,0,0,8.333,75Zm45.833,32.708h0a4.031,4.031,0,0,1-2.083-3.54V45.835a4.3,4.3,0,0,1,2.084-3.541,3.786,3.786,0,0,1,4.166,0l50,29.166A4.029,4.029,0,0,1,110.418,75a4.3,4.3,0,0,1-2.084,3.541l-50,29.166a3.788,3.788,0,0,1-4.168,0Z" fill="#1b1f29"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>