<section class="blog-detail-banner" style="background-image:linear-gradient(rgba(27, 31, 41, .47), rgba(27, 31, 41, .47)) , url('{{fields.field_banner_image.content}}'); background-repeat: no-repeat;background-size: cover;" >
    <div class="container">
        <div class="blog-detail-banner-head">
            <span>{{fields.field_category.content}}</span>
            <h1>{{fields.title.content}}</h1>
            <div class="create-uid">
                <p>{{fields.uid.content}}</p>
                <p>{{fields.created.content}}</p>
            </div>
        </div>
    </div>
</section>