
<section class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3">
              <a href="{{ url }}"><img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}"></a>
            </div>
            <div class="col-lg-8 col-md-9 team1">
                <div>
                    <a href="{{ url }}"><h3 class="mt-3">{{node.label}}</h3></a>
                </div>
                <p>{{content.field_designation.0}}</p>
                <div class="mb-3">
                  {{content.field_section}}
                </div>
            </div>
        </div>
    </div>
</section>
