<section class="cases-details z-sec">
    <div class="container">
        <div class="case-title-overflow">
            <h2>{{node.label}}</h2>
        </div>
        <div class="portflio-detail-created">
            <div class="display-portfolio">
                <span>{{content.field_title_1.0}}</span> {# Title 1 #}
                <h4>{{content.field_text_1.0}}</h4> {# Text 1 #}
            </div>
            <div class="display-portfolio">
                <span>{{content.field_title_2.0}}</span> {# Title 2 #}
                <h4>{{content.field_category.0}}</h4>
            </div>
            <div class="display-portfolio">
                <span>{{content.field_title_3.0}}</span> {# Title 3 #}
                <h4>{{content.field_text_3.0}}</h4> {# Text 3 (Date) #}
            </div>
            <div class="display-portfolio">
                <span>{{content.field_title_4.0}}</span> {# Title 4 #}
            </div>
        </div>
        {{content.field_section}}
        <div class="case-image-wrapper">
            <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
        </div>
        <div class="content-descriptions">
            {{content.body.0}}
        </div>
        <div class="prev-next-node">
            <a href="{{prev_case_url}}">
                <div class="svg_wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="88" height="150" viewBox="0 0 88 150">
                        <path  data-name="Path 40740" d="M88,136.591,74.578,150,0,75,74.653,0,88,13.409,26.694,75Z" fill="#1b1f29"/>
                    </svg>
                </div>
                <h4>{{pager_prev_text_2}}</h4>
            </a>
            <a href="{{next_case_url}}" class="next_node">
                <h4>{{pager_next_text_2}}</h4>
                <div class="svg_wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="88" height="150" viewBox="0 0 88 150">
                        <path  data-name="Path 40741" d="M0,13.409,13.422,0,88,75,13.347,150,0,136.591,61.306,75Z" fill="#1b1f29"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>






