
<section class="team-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="image-wrapper">
                    <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                </div>
                <div class="team-flex team1">
                    <div>
                        <h3>{{node.label}}</h3>
                        <span>{{content.field_designation.0}}</span>
                    </div>
                    {{content.field_section}}
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="content-descriptions">
                    {{content.field_description.0}}
                </div>
            </div>
        </div>
    </div>
</section>