{# <li>{{fields.name.content}} {{fields.tid.content}}</li>     #}



<li class="nav-link">
    <a class="menu-link" data-filter=".{{ fields.tid.content }}" href="#" title="{{ fields.name.content }} ">{{ fields.name.content }}</a>
</li>