<div class="col-lg-4 col-md-6">
    <div class="team-wrapper">
        <div class="image-wrapper">
            <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        </div>
        <div class="team-items">
            <h3>{{fields.title.content}}</h3>
            <p>{{fields.field_designation.content}}</p>
            <div>{{fields.field_section.content}}</div>
        </div>
    </div>
</div>
